<table id="dcontent">
  <tr>
    <th>Project ID</th>
    <th># of Spectra</th>
    <th># of Identified spectra</th>
    <th># of Identified peptide</th>
    <th># of Identified protein</th>
    <th>Globle fdr</th>
  </tr>

  <tr>
    <td>
      <%= @exp_data_summary.project_id %>
    </td>
    <td>
      <%= @exp_data_summary.spectra_num %>
    </td>
    <td>
      <%= @exp_data_summary.identified_spectra_num%> 
      <%= sprintf("[ %5.2f%% ]",@exp_data_summary.identified_spectra_num * 100.0 /  @exp_data_summary.spectra_num)%>
    </td>
    <td>
      <%= link_to @exp_data_summary.identified_pep_num, "/human/show_by_proj?exp_id=#{@exp_data_summary.project_id}&type='pep'&id=all" %>
    </td>
    <td>
      <%= link_to @exp_data_summary.identified_pro_num, "/human/show_by_proj?exp_id=#{@exp_data_summary.project_id}&type=pro&id=all" %>
    </td>
    <td>
      <%= @exp_data_summary.fdr %>
    </td>
  </tr>
</table>

