<table id="lcontent">
  <tr>
    <th>Project ID:</th>
    <td><%= @exp_paramater.project_id %></td>
  </tr>

  <tr>
    <th>Enzyme:</th>
    <td><%= @exp_paramater.enzyme %></td>
  </tr>

  <tr>
    <th>Database:</th>
    <td><%= @exp_paramater.db %></td>
  </tr>

  <tr>
    <th>Peptide Mass Tolerance:</th>
    <td><%= @exp_paramater.pep_tol %></td>
  </tr>

  <tr>
    <th>Fragment Mass Tolerance:</th>
    <td><%= @exp_paramater.ion_tol %></td>
  </tr>

  <tr>
    <th>Variable modifications:</th>
    <td><%= @exp_paramater.var_mod %></td>
  </tr>

  <tr>
    <th>Fixed modifications:</th>
    <td><%= @exp_paramater.fixed_mod %></td>
  </tr>

  <tr>
    <th>Mass type:</th>
    <td><%= @exp_paramater.mass_type %></td>
  </tr>

  <tr>
    <th>Instrument type:</th>
    <td><%= @exp_paramater.instrument %></td>
  </tr>

  <tr>
    <th>Max Missed Cleavages:</th>
    <td><%= @exp_paramater.miss_clv %></td>
  </tr>

  <tr>
    <th>Protein mass:</th>
    <td><%= @exp_paramater.pro_mass %></td>
  </tr>

</table>

