<h1>View Projects</h1>
<p>There shall be some data soon ...</p>
<br/>
<h1>Manage Projects</h1>
<%= radio_button_tag(:load_data, "upload") %>
<%= label_tag(:load_data_upload, "1. Upload your tsv file") %>
<%= form_tag("/projects",:multipart => true, :method => "post") do %>
	<%= label_tag(:file, "Choose your file:") %>
	<%= file_field_tag "file" %>
	<%= submit_tag("Upload file") %>
<% end %>

<%= radio_button_tag(:load_data, "path") %>
<%= label_tag(:load_data_path, "2. Just give the tsv file path" )%>
<%= form_tag("/projects", :method => "post") do %>
	<%= label_tag(:path, "File path:") %>
	<%= text_field_tag(:path) %>
	<%= submit_tag("Submit path") %>
<% end %>
