<% if @results.size == 0 %>
	<h3> Sorry, no related data found, please try to search other items</h3>
<% else %>
	<% if @result_type =='protein' %>
		<h1>Results for Protein: <%= params[:pro_id]%> </h1>
		<table border="1" cellpadding="5">
			<tr>
				<th>Protein ID</th>
				<th>Transcription ID</th>
				<th>Gene ID</th>
				<th>Chromosome</th>
				<th>Version</th>
			</tr>
			<% @results.each do |record| %>
				<tr>
					<td><%= link_to record.pro_id, "http://asia.ensembl.org/Homo_sapiens/Search/Results?species=Homo_sapiens;idx=;q=#{record.pro_id}", :target =>"_blank" %></td>
					<td><%= link_to record.transcription, "http://asia.ensembl.org/Homo_sapiens/Transcript/Summary?t=#{record.transcription}", :target=>"_blank" %></td>
					<td><%= link_to record.gene,"/pages/Result?gene_id=#{record.gene}&commit=Search_Gene"  %></td>
					<td><%= record.chr %></td>
					<td><%= record.version %></td>
				</tr>
			<% end %>
		</table>

		<br />
	<% else %>
		<h1>Results for Gene: <%= params[:gene_id]%> </h1>
		<table border="1" cellpadding="5">
			<tr>
				<th>Gene ID</th>
				<th>Transcription ID</th>
				<th>Protein ID</th>
				<th>Chromosome</th>
				<th>Version</th>
			</tr>
			<% @results.each do |record| %>
				<tr>
					<td><%= link_to record.gene, "http://asia.ensembl.org/Homo_sapiens/Gene/Summary?g=#{record.gene}", :target =>"_blank"  %></td>
					<td><%= link_to record.transcription, "http://asia.ensembl.org/Homo_sapiens/Transcript/Summary?t=#{record.transcription}", :target=>"_blank" %></td>
					<td><%= link_to record.pro_id, "/pages/Result?pro_id=#{record.pro_id}&commit=Search_Pro" %></td>
					<td><%= record.chr %></td>
					<td><%= record.version %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
<% end %>
