<h1>Summary for Human#chr<%= "#{@chr}"%></h1>

<br/>

<div id='chr'>
	<%= image_tag("chr#{@chr}.jpg", :alt => "chr#{@chr}", :class => "round", :title =>"chr#{@chr}") %>
</div>
<div id='pro_table'>
	<table border="1" cellpadding="5">
		<tr>
			<th>Protein ID</th>
			<th>Transcription ID</th>
			<th>Gene ID</th>
			<th>Chromosome</th>
			<th>Version</th>
		</tr>
		<% @records.each do |record| %>
			<tr>
				<td><%= link_to record.pro_id, "/pages/Result?pro_id=#{record.pro_id}&commit=Search_Pro" %></td>
				<td><%= link_to record.transcription, "http://asia.ensembl.org/Homo_sapiens/Transcript/Summary?t=#{record.transcription}", :target=>"_blank" %></td>
				<td><%= link_to record.gene,"/pages/Result?gene_id=#{record.gene}&commit=Search_Gene"  %></td>
				<td><%= record.chr %></td>
				<td><%= record.version %></td>
			</tr>
		<% end %>
	</table>
	<%= form_tag("/human/show_by_chr", :method => "post") do %>
		<input name="chr" type="hidden" value=<%= "#{@chr}" %> />
		<input name="ofs" type="hidden" value=<%= "#{@ofs}" %> />
		<%= submit_tag("Previous") %>
		<%= submit_tag("Next") %>
	<% end %>
</div>
