<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'header', :media => 'screen' %>
		<%= stylesheet_link_tag 'footer', :media => 'footer' %>
	</head>
	<body>
		<div class="container">
			<table height="60" width="100%" cellspacing="0" cellpadding="0" border="0" >
				<tr>
					<td width="200" align="left">
						<% logo= image_tag("logo.png", :alt => "Proteomics Data Center", :class => "round") %>
						<%= link_to logo, "http://www.genomics.cn/index" %>

					</td>
					<td align="center" >
						<span class="none" style="color: #79A4C4; font-size: 26px; font-weight: bold; font-family: Verdana, sans-serif; ">
							PDC - The Proteomics Data Center 
						</span>
					</td>
					<td width="200" align="right">
						<% logo= image_tag("logo.png", :alt => "Proteomics Data Center", :class => "round") %>
						<%= link_to logo, "http://www.genomics.cn/index" %>

					</td>
				</tr>
				<tr class="rootVoices">
					<td id="menu" colspan="3" align="center">
						<table rules="cols" frame="void" border="1" bordercolor="white" width="100%" style="border-collapse: collapse;">
							<tr>
								<ul id="menu" class="blue">
									<li ><%= link_to "Home", home_path %></li>
									<li ><%= link_to "Explore", explore_path %></li>
									<li ><%= link_to "Search", search_path %></li>
									<li ><%= link_to "Project", '/project' %></li>
									<li ><%= link_to "Admin", user_path %></li>
									<li ><%= link_to "Contact", contact_path %></li>
									<li ><%= link_to "Help", help_path %></li>
								</ul>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class='content pb20'>
			<%= yield %>
		</div>

		<%= render "layouts/footer" %>

	</body>
</html>
